<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>google search with filter test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoogleController.js"></script>
  </head>
  <body>
    Google Search With Aida Filter<br/>
    <div ng-controller="GoogleController">
      <p>
        <input type='text' ng-model='keyword' size="100" ng-keydown="handleKeydown($event)"/>
        <button type="button" class="btn-primary" ng-click="search()">検索</button><br/>
        <ul>
          <div ng-repeat="result in results">
            <li>
              <a hg-href="{{result.htmlFormattedUrl}}" >{{result.htmlTitle}}</a>
            </li>
          </div>
        </ul>
      </p>
    </div>
  </body>
</html>